@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@700&display=swap");

@font-face {
  font-family: ProximaNova;
  font-display: swap;
  src: url("../fonts/ProximaNova-Regular.woff") format("woff"),
    url("../fonts/ProximaNova-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: ProximaNova;
  font-display: swap;
  src: url("../fonts/ProximaNova-Semibold.woff") format("woff"),
    url("../fonts/ProximaNova-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: ProximaNova;
  font-display: swap;
  src: url("../fonts/ProximaNova-Light.woff") format("woff"),
    url("../fonts/ProximaNova-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: ProximaNova;
  font-display: swap;
  src: url("../fonts/ProximaNova-Bold.woff") format("woff"),
    url("../fonts/ProximaNova-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?534mv5");
  src: url("../fonts/icomoon.eot?534mv5#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?534mv5") format("truetype"),
    url("../fonts/icomoon.woff?534mv5") format("woff"),
    url("../fonts/icomoon.svg?534mv5#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
