/*<FOOTER>*/
.footer{
	padding: 30px 0;
}

.footer__container{
	display: flex;
	justify-content: space-between;
}

@media(max-width: 767.98px){
	.footer__container{
		flex-direction: column;
		text-align: center;
		align-items: center;
	}

	.footer__copyright{
		margin: 0 0 15px 0;
	}
}
/*</FOOTER>