/*<PRICE>*/
.price__items {
  display: flex;
}

.price__item {
  flex: 0 0 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 991.98px) {
  .price__items {
    display: block;
  }

  .price__item:not(:last-child) {
    margin: 0 0 25px 0;
  }
}

.price__image {
  position: relative;
  flex: 0 0 100%;
  padding-bottom: 65%;
  border-radius: 10px;
  overflow: hidden;
}

.price__image img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*</PRICE>*/
